{{range $.posts}}
	<div class="each-post">
		<div class="title">
			<a href="{{$.postUrl}}/{{.UrlTitle}}" title="全文">
				{{.Title}}
			</a>
		</div>
		
		<div class="created-time">
		    <i class="fa fa-clock-o"></i> 发表于 {{.PublicTime | datetime}}
	        &nbsp;|&nbsp;

	        <span class="fa fa-eye"></span> 热度 {{.ReadNum}} ℃
	        &nbsp;|&nbsp;
	        <span class="fa fa-thumbs-o-up"></span> 点赞 {{.LikeNum}}
	        &nbsp;|&nbsp;
	        {{if .Tags}}
		        <i class="fa fa-bookmark-o"></i> {{blogTags $ .Tags}}
	        {{end}}
        </div>
		
		<div class="desc">
			{{.Desc | raw}}
		</div>
		<div id="moreContainer">
		    <a class="more" href="{{$.postUrl}}/{{.UrlTitle}}" title="全文">阅读全文</a>
        </div>
	</div>
{{else}}
<div class="each-post">
无
</div>
{{end}}
